.footer{
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 40px;
    color: var(--white);
    font-size: 16px;
    line-height: 20px;

    background-color: var(--primary);
    padding: 25px 30px;
}

.footer a:hover{
    color: var(--gray-light);
}

@media(max-width: 765px){
    .sidebar{
       display: none;
    }
    .header{
        display: block;
    }
    .footer{
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-areas:
        "footer";
    }
}