.filled svg{
	fill: var(--primary)
}

.star svg{
	margin-right: 5px;
	border: 1px solid var(--green);
	background: var(--white);
}

.editable{
	cursor: pointer;
}

.error {
    border: 1px solid red;
}

.ratingWraper {
    position: relative;
}
.errorMessage {
    position: absolute;
    bottom: -40px;
    left: 0;
    color: red;
}